*{
    padding: 0%;
    margin: 0%;
    /* background-color: pink; */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand img{
    width: 80px;
}
header nav ul li a:hover {
    color: rgb(252, 83, 221) !important;
}
.encabezado{
    height: 95px;
    font-size: 22px;
    width: 100%;
}
main{
    background-color: pink;
}
.ubi{
    width: 10cm;
    height: 10cm;
}
.clock{
    text-align: center;
}
.apps2{
    text-align: right;
}
.carrusel1{
    width: 10cm;
    height: 10cm;
}
.carrusel2{
    width: 10cm;
    height: 10cm;
}
.carrusel3{
    width: 10cm;
    height: 10cm;
}
footer{background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
footer p{
    margin-bottom: 15px;
}
footer i{
    font-size: 50px;
    color: rgb(255, 175, 188);
    letter-spacing: 20px;
}