*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: pink; */
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand img{
    width: 65px;
}
header nav ul li a:hover {
    color: rgb(252, 83, 221) !important;
}
.encabezado{
    height: 80px;
    width: 100%;
    font-size: 22px;
    /* background-color: rgb(227, 69, 198); */
    /* color: white; */
    /* padding: 20px; */
    /* box-shadow: inset 0 0 5px white; */
}
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.cuadro1{
    color: white;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.744);
    border: 4px solid rgb(227, 69, 198);
    padding: 25px;
    margin: 40px;
    box-shadow: inset 0 0 5px  rgba(255, 255, 255, 0.913);
}
h1{
    width: 100%;
    color:  rgb(227, 69, 198);
    margin-bottom: 20px;
}
.cuadro p{
    width: 70%;
    margin-bottom: 20px;
}
/* main{
    background-color: pink;
} */
footer{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
footer p{
    margin-bottom: 15px;
    width: 100%;
}
footer i{
    font-size: 50px;
    color: rgb(255, 175, 188);
    letter-spacing: 20px;
}
@media only screen and (max-width:800px){
    .cuadro1{
        height: 100%;
        width: 100%;
    }
}
