/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand img{
    width: 80px;
}
header nav ul li a:hover {
    color: rgb(252, 83, 221) !important;
}
.encabezado{
    height: 95px;
    font-size: 22px;
    width: 100%;
}
main{
    height: 600px;
    width: 100%;
    background-color: #000;
    background-image: url(./Multimedia/Local\ \(afuera\).jpeg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}
.call{
    color: rgb(254, 171, 185);
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    float: right;
    margin: 40px
}
.call p{
    margin-bottom: 20px;
}
.call a{
    background-color: rgb(254, 171, 185);
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 0 5px #000;
    padding: 10px 20px;
    border-radius: 5px;
}
.call a:hover{
    background-color: #000;
    color: rgb(254, 171, 185);
    border: 2px dashed rgb(254, 171, 185);
    text-shadow: 0 0 5px rgb(254, 171, 185);
}
.info{
    display: flex;
}
.lleft{
    width: 100%;
    background-color: #000;
}
.lleft img{
    height: 800px;
    width: 100%;
}
/* .lright{
    height: auto;
    width: 50%;
} */
/* .lright h3{
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.lright p{
    font-family:'Times New Roman', Times, serif;
} */
h1{
color: white;
}
h2{
    text-align: center;
    background-color: rgb(254, 171, 185);
    color: white;
    text-shadow: 0 0 5px #000;
    font-size: 28px;
    padding: 10px;
}
.galeria{
    height: auto;
    width: 100%;
    background-color: rgb(255, 175, 188);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    grid-gap: 20px;
}
.item{
    height: 200px;
    width: 100%;
    background-color: white;
    border: 2px solid #000;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}
.item:hover{
    transition: all 0.8s; 
    transform: scale(1.05);
    filter: grayscale(0%);
}
.item1{
    background-image: url(./Multimedia/Lino1.jpg);
}
.item2{
    background-image: url(./Multimedia/jeans-1161035_1920.jpg);
}
.item3{
    background-image: url(./Multimedia/material-540136_1920.jpg);
}
.item4{
    background-image: url(./Multimedia/Seda1.jpg);
}
.item5{
    background-image: url(./Multimedia/Seda3.jpg);
}
.item6{
    background-image: url(./Multimedia/Algodon3.jpg);
}
.item7{
    background-image: url(./Multimedia/Algodon2.jpg);
}
.item8{
    background-image: url(./Multimedia/Algodon1.jpg);
}
footer{background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}
footer p{
    margin-bottom: 15px;
}
footer i{
    font-size: 50px;
    color: rgb(255, 175, 188);
    letter-spacing: 20px;
}
@media only screen and (min-width: 480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }

    
@media only screen and (min-width:768px) and (max-width: 1024px){
        .galeria{
            grid-template-columns: 1fr 1fr 1fr;
        }
    .item1{
            grid-column: 1/3;
            grid-row: 1/2;
        }
    .item2{
            grid-column: 3/4;
            grid-row: 1/2;
        }
    .item3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
    .item4{
            grid-column: 2/4;
        }
    .item5{
        grid-column: 1/3;
    }
    .item6{
        grid-column: 3/4;
    }
    .item8{
        grid-column: 2/4;
    }
}

@media only screen and (min-width: 1024px){
        .galeria{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 200px 200px;
        }
    }
}
@media only screen and (max-width:530px){
    /* .lleft{
        width: 100%;
        height: auto;
    } */

    .lright{
        width: 100%;
        height: auto;
    }
}